<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264005611904-7de8mm7j17j6i29dn86k5ivuq50l1on9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264005611904-7de8mm7j17j6i29dn86k5ivuq50l1on9</string>
	<key>API_KEY</key>
	<string>AIzaSyCciKt2pw6tHsfYeKcgd2Kg3iGNRk6gADc</string>
	<key>GCM_SENDER_ID</key>
	<string>264005611904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.automatedParking.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>autopark-c34b2</string>
	<key>STORAGE_BUCKET</key>
	<string>autopark-c34b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264005611904:ios:fa6118f7fc96f0559e5165</string>
</dict>
</plist>